h3  {
  margin-top: 0px;
}

.input {
  margin-top: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  padding: 10px;
}

.input textarea {
  width: 490px;
  font-size: 8px;
}
